{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "crlf",
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": true,
  "printWidth": 80,
  "arrowParens": "avoid",
  "noMultiSpaces": true
}